*.class
*.log
*.log.*.gz
.project
.classpath
.settings/
target/
work/
.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
dependency-reduced-pom.xml
**/dependency-reduced-pom.xml
**/.DS_Store
**/.DS_Store?
**/.checkstyle
.idea/
*.iml
js-unit-test-results.xml
js-unit-test-coverage/
